# ==========================
# Visual Studio
# ==========================

.vs/
.vscode/

# ==========================
# Build
# ==========================

bin/
obj/

# ==========================
# Rider
# ==========================

.idea/

# ==========================
# User Files
# ==========================

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Test Results
# ==========================

TestResults/

# ==========================
# NuGet
# ==========================

packages/

# ==========================
# Publish
# ==========================

publish/

# ==========================
# Local Database
# ==========================

*.mdf
*.ldf

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Secrets
# ==========================

appsettings.Development.json
secrets.json

# ==========================
# Dotnet
# ==========================

artifacts/